name: ShellCheck

on:
  push:
  pull_request:

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Run bash syntax check
        run: bash -n update.sh

      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@master
        with:
          scandir: .
